@import "./variables";
@import "./typography";

/* Font styles */

.font-first {
  color: $first;
}

.font-second {
  color: $second;
}

.font-grey {
  color: $grey;
}

.bg-first {
  background-color: $first;
}

.bg-second {
  background-color: $second;
}

.bg-grey {
  background-color: $grey;
}

.border-first {
  border-color: $first;
}

.border-second {
  border-color: $second;
}

.border-white {
  border-color: $white;
}
