@import "../styles/global.scss";

.Board {
  display: flex;
  border: 2px solid $grey;
  border-radius: 15px;
  height: 300px;
  width: 450px;
  background-color: $darkest;
  .TokenColumns {
    display: flex;
    margin: 0 1rem;
    flex: 1;
  }
  .TokenColumn {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 5px;
    padding: 5px;
    &:hover:not(.disabled) {
      cursor: pointer;
      .Token {
        border-width: 2px;
      }
      &.turn-red {
        .bg-red,
        .bg-yellow {
          border-color: transparent;
        }
        .bg-empty {
          border-color: $red;
        }
      }
      &.turn-yellow {
        .bg-red,
        .bg-yellow {
          border-color: transparent;
        }
        .bg-empty {
          border-color: $yellow;
        }
      }
    }
  }
}
