@import "../styles/global.scss";

.Stage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 90vw;
  .reset-wrapper {
    height: 20px;
  }
  .reset {
    margin-top: 30px;
    color: $grey;
    &:hover,
    &.active {
      cursor: pointer;
      color: $white;
      font-size: 18px;
    }
  }
  a {
    text-decoration: none;
    color: $white;
    line-height: 12px;
    margin-bottom: 5px;
  }
}
