@import "../styles/global.scss";

.Token {
  border: 1px solid white;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  &.bg-red {
    border-color: $red;
  }
  &.bg-yellow {
    border-color: $yellow;
  }
}
