@import "../styles/global.scss";

.Token {
  border: 2px solid $grey;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  &.bg-red {
    border-color: $red;
  }
  &.bg-yellow {
    border-color: $yellow;
  }
  &.dim {
    opacity: 0.3;
  }
  &.win {
    opacity: 1;
    border-color: $white;
    box-shadow: 0 0 1px 1px $white;
  }
}
