@import "../styles/global.scss";

.Token {
  border: 3px solid $grey;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  &.bg-red {
    border-color: $red;
  }
  &.bg-yellow {
    border-color: $yellow;
  }
  &.win {
    box-shadow: 0 0 3px 3px $white;
  }
}
